  
   <img src="../public/icons/logo_hvid.svg" alt="logo">
  <ul>
    <li>
     <img src="../public/icons/home_hvid.svg" alt="home">
      <a href="/">Home</a>
    </li>
    <li>
      <img src="../public/icons/search-hvid.svg" alt="search">
      <a href="#0">Search</a>
    </li>
    <li>
       <img src="../public/icons/library-icon-filled.svg" alt="library"> 
      <a href="#0">Your library</a>
    </li>
    <li><button>Create plylist</button></li>
    <li><a href="#0">Liked songs</a></li>
  </ul>

  